# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Local data/DB
backend/chroma_db/
backend/sample_data/
backend/temp_reports/
*.pdf

# IDE/OS specific
.vscode/
.DS_Store
Thumbs.db